/* TODO: have color variables */

body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.label {
    background-color: #2d485a;
    color: black;
}

/* header */

header {
    background-color: #2b2b2b;
    color: white;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.tools {
    display: flex;
    list-style: none;
    padding: 10px;
    gap: 2em;
}

.tools button {
    background-color: #2b2b2b;
    color: inherit;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.tools button {
    transition: background-color 0.5s ease;
}

#run-button:hover {
  background-color: #7ae57d;
}

#debug-button:hover {
  background-color: #d87456;
}

#share-button:hover {
  background-color: #7981ee;
}

#info-button:hover {
  background-color: #eba542;
}

#reset-button:hover {
  background-color: lightslategray;
}

/* main area (aka tabs) */

main {
    background-color: #1e1e1e;
    height: 75vh;
}

.tab {
    display: flex;
    flex-direction: row;;
    height: 100%;
}

.tab-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}

.tab-header {
    background-color: #444;
    display: flex;
    padding: 5px;
    gap: 8px;
    align-items: center;
    justify-content: left; /* change to space around when 'x' */
}

.tab-header select.language-dropdown {
    background-color: #666;
    border-color: #666;
    border-radius: 6px;
    padding: 8px;
    max-width: fit-content;
    color: inherit;
}

.tab-header .new-editor {
    background-color: #666;
    border: none;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 18px;
    color: inherit;
}

.editor {
    height: 100%;
}

.memdia .diagram {
    background-color: black;
    height: 20vh;
}

.resize-bar {
    background-color: #2d485a;
    width: 5px;
}

/* output */

footer {
    background-color: #1e1e1e;
    height: 20vh;
}
