#memdia-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  background-color: #d9c4ec;
}

#memory-panel {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.memory-variable {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  font-family: sans-serif;
}

.var-name {
  font-weight: normal;
  font-size: 16px;
  fill: black;
  text-anchor: start;
}

.var-type {
  font-style: italic;
  fill: #444;
  font-size: 12px;
  text-anchor: start;
}

.var-box {
  stroke: black;
  fill: none;
  stroke-width: 1;
  rx: 2;
  ry: 2;
}

.primitive-value {
  font-size: 16px;
  text-anchor: middle;
  dominant-baseline: middle;
  pointer-events: none;
  x: 25;
  y: 20;
}

.reference-dot {
  fill: black;
}

.function-name {
  font-weight: bold;
  font-size: 16px;
  text-anchor: middle;
  dominant-baseline: middle;
}

.function-box {
  stroke: black;
  fill: none;
  rx: 2;
  ry: 2;
}

@media (max-width: 600px) {
  #memory-panel {
    position: static;
    margin: 10px auto;
    width: 90%;
  }

  .memory-variable {
    flex-direction: column;
    align-items: flex-start;
  }

  .var-box {
    width: 100%;
    text-align: left;
  }
}
