body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#panels {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#panels > * {
  flex-grow: 1;
  flex-basis: 0;
}

#editor {
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.cm-editor {
  flex-grow: 1;
}

#tree-panel, #source-panel, #output-panel, #memdia-panel {
  padding: 10px;
  font-family: monospace;
  overflow-y: scroll;
  white-space: pre-wrap;
}

#tree-panel {
  background-color: aqua;
}

#source-panel {
  background-color: rgb(230, 200, 190);
}

#output-panel {
  background-color: rgb(230, 230, 230);
}

#controls {
  padding: 1ex;
}

#controls > select {
  margin-right: 1em;
}


var {
  color: blue;
  font-weight: bold;
  font-style: normal;
}

.jump-button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: rebeccapurple;
  font-weight: bold;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}

.jump-button:active {
  color: orange;
}
